<div class="nkyCnt">
</br>
</br>
<h4>Welcome</h4>
<a href="/WelcomePage">Home</a>
<h4>User management</h4>
<a href="/login">Login</a>~
<a href="/logout">Logout</a>~
<a href="/Register">Register User</a>~
<a href="/ListAllUsers">List all Users</a>
<h4>Inventory management</h4>
<a href="/AddNewItem">Add New Item To Inventory</a>~
<a href="/DeleteItem">Delete Items From Inventory</a>~
<a href="/ListAllItems">List All Items</a>
<h4>Order Management</h4>
<a href="/ShopProduct">Shop for Product</a>~
<a href="/MyOrders">My Order list</a>~
<!-- <a href="/CheckoutCart">Checkout Cart</a>~ -->
<!-- <a href="/CancelOrder">Cancel Order</a>~ -->
<a href="/ContactCustomerSupport">Contact Customer Support</a>

</div>
