{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<html>
<head>
    <title>
        Register User Page
    </title>
    
    </head>
    
    <body>
    
    
        {% block content %}
    
    <h1>Register User Page</h1>

    
    <div class="nkyCnt">
    
        <form method="POST" action="/Register">
            <h2>Sign Up</h2>
            <table>
                <tr>
                    <td>
                        {{ form.hidden_tag() }}<br>
                        User Name:</td>
                    <td><input type="text" id="userName" name="userName"><br>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp</td>
                    <td>&nbsp</td>&nbsp
                </tr>
                <tr>
                    <td>
                        Email Address:</td>
                    <td><input type="text" id="emailAddress" name="emailAddress"><br>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp</td>
                    <td>&nbsp</td>&nbsp
                </tr>
                <tr>
                    <td>
                        Password:</td>
                    <td><input type="password" id="password" name="password"><br>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp</td>
                    <td>&nbsp</td>&nbsp
                </tr>
                <tr>
                    <td>
                        UserType:</td>
                    <td>
                        <select id="UserType" name="UserType">
                            <option value="1">Customer</option>
                            <option value="2">Admin</option>
    
                        </select><br>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp</td>
                    <td>&nbsp</td>&nbsp
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit">Register</button></td>
                </tr>
            </table>
        </form>
    
    </div>
      

    {% include 'header_login.html' %}
    
    </body>
    </html>
    {% endblock %}