<html>
<head>
<title>
    Shop products page
</title>

</head>

<body>




<h1>
    Shop products page
</h1>



{{ form.hidden_tag() }}

<form  method="POST" action="/ShopProduct" >
<div class="nkyCnt">
    <table style=" border: 1px solid blue">
        <th style=" border: 1px ridge blue">&nbsp;select&nbsp;</th>&nbsp;&nbsp;
        <th style=" border: 1px ridge blue">&nbsp;Quantity&nbsp;</th>&nbsp;&nbsp;
        <th style=" border: 1px ridge blue">&nbsp;Product Name &nbsp;</th>&nbsp;&nbsp;
        <th style=" border: 1px ridge blue">&nbsp;Description&nbsp;</th>&nbsp;&nbsp;
        <th style=" border: 1px ridge blue">&nbsp;Price&nbsp;</th>&nbsp;&nbsp;
        <th style=" border: 1px ridge blue">&nbsp;Image 1&nbsp;</th>&nbsp;&nbsp;
        <th style=" border: 1px ridge blue">&nbsp;Image 2&nbsp;</th>&nbsp;&nbsp;
        <th style=" border: 1px ridge blue">&nbsp;Image 3&nbsp;</th>&nbsp;&nbsp;

        {% for item in InventoryT %}
        <tr style=" border: 1px dotted blue">
<td><input type="radio" name="options" id="options" value="{{ item.idNo }}">  </input></td>
            <td>
<select id="quantity" name="quantity">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</td>
            {% if item.Name %}<td>{{ item.Name }}</li>{% endif %}&nbsp;
                {% if item.Description %}            <td>{{ item.Description }}</li>{% endif %}&nbsp;
                    {% if item.Price %}            <td><input type="text" name="Price" id="Price" value="{{ item.Price }}">  </input></li>{% endif %}&nbsp;
                        {% if item.URL1 %}            <td> <img src="{{url_for('static', filename=item.URL1)}}" /></li>{% endif %}&nbsp;
                            {% if item.URL2 %}            <td> <img src="{{url_for('static', filename=item.URL2)}}" /></li>{% endif %}&nbsp;
                                {% if item.URL3 %}            <td> <img src="{{url_for('static', filename=item.URL3)}}" /></li>{% endif %}&nbsp;
                


                </tr>
                {% endfor %}
    </table>


</div>
<table>
<tr><td>&nbsp</td><td>&nbsp</td>&nbsp</tr>
<tr><td></td><td>
      <!-- <button type="submit">Delete item from inventory</button></td> -->
      <p><input type=submit value="Add to cart"></p>
    </tr>
</table>
</form>

{% if current_user.is_authenticated %}
{% include 'header.html' %}
{% else %}

{% include 'header_login.html' %}
{% endif %}


</body>
</html>